.canvas-joystick-off {
  background-color:#A0A0A0;
}
.canvas-joystick-5 {
  background-color:#002800;
}
.canvas-joystick-4 {
  background-color:#003200;
}
.canvas-joystick-3 {
  background-color:#003c00;
}
.canvas-joystick-2 {
  background-color:#004600;
}
.canvas-joystick-1 {
  background-color:#005000;
}
.canvas-joystick-on {
  background-color:#66b2ff;
}
