extends ../layouts/default

block head
  title Simulated Online Biology

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/index.min.js?#{cacheBreaker}')

block body
  center
    img(width='40%', style='margin:10px', src="/media/modeling.jpg")
  div.jumbotron
    h1 Simulated Euglena Lab
    p.lead
      | Interactive Biology Online.
      div
        a.btn.btn-primary.btn-lg(href='/login/') Login
        |  or&nbsp;
        a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        |  or&nbsp;
        a.btn.btn-warning.btn-lg(href='/login/forgot/') Reset Your Password
      div.clearfix

